html {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}
body.idColor {
    background-color: #1c1c25;
}
p.copyright {
    font-size: 10px;
    color: #fff;
    margin-bottom: -6px;
}
label {
    color: #ff6a1b;
}
.hideOverflow {
    overflow: hidden;
}
.rowBottom {
    padding-bottom: 110px;
}
.colorNav {
    background-color: #ff6a1c !important;
}
.imgIcon {
    height: 30px;
    width: auto;
    position: relative;
    left: 140px;
    top: 6px;
}
.IconUser {
    padding-left: 10px;
}
.menu {
    position: relative;
    left: 104px;
}
ul.navbar-nav {
    margin-top: 10px;
    margin-left: 34px;
}
nav .navbar-nav li a:hover {
    color: #fff !important;
    background-color: #ff6a1b !important;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #ff6a1b !important;
}
.rowBottomSearch {
    padding-bottom: 120px;
    margin-top: -23px !important;
}
.formSearch {
    height: 20px;
    padding-bottom: 57px;
}
.material-icons {
    font-size: 10px;
}
.searchBox {
    display: flex;
    margin-top: -40px;
    margin-left: 22px;
    transform: translate(0, 100%);
    background: #2f3640;
    height: 45px;
    border-radius: 50px;
    padding: 3px;
}
.searchBox:hover > .searchInput {
    width: 180px;
}
.searchBox:hover > .searchButton {
    background: #fff;
    color: #2f3640;
}
.searchButton {
    color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 60%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-top: -1px;
}
.searchInput {
    border: none;
    background: #2f3640;
    outline: 0;
    float: left;
    color: #fff;
    font-size: 12px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
    padding: 0;
}
input#formSearch.searchInput {
    background: #2f364000;
    border-color: #2f3640;
}
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 30px #2f3640 inset !important;
    -webkit-border-radius: inherit;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}
input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:active,
input.form-control:-webkit-autofill:focus,
input.form-control:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
    -webkit-border-radius: 5px;
}
input.form-control:-webkit-autofill {
    -webkit-text-fill-color: #000 !important;
}
button#btnCarousel1 {
    position: absolute;
    top: 90px;
    left: 990px;
    border: 1px solid #fff;
    color: #ff6a1b;
    border-radius: 19px;
    width: 154px;
    font-size: 20px;
}
button#btnCarousel1:hover {
    border: 1px solid #ff6a1b;
    color: #fff;
}
form.formAccount {
    padding-top: 0;
}
legend.tittleAccount {
    margin-top: 80px;
    margin-bottom: -28px;
    font-size: 35px;
    color: #fff;
}
button.buttonAccount {
    color: #ff6a1b;
}
.redirectionConnect {
    margin-left: 708px;
    padding-top: 20px;
    font-size: 13px;
}
button.buttonConnectMe {
    border: 1px solid #fff;
    color: #ff6a1b;
    margin-left: 18px;
}
button.buttonConnectMe:hover {
    border: 1px solid #ff6a1b;
    color: #fff;
}
.designButton {
    text-decoration: none;
    color: #ff6a1b;
    font-size: 12px;
}
.designButton:hover {
    text-decoration: none;
    color: #fff;
}
button.buttonSubmit.btnAccount {
    border: 1px solid #fff;
    color: #ff6a1b;
}
button.buttonSubmit.btnAccount:hover {
    border: 1px solid #ff6a1b;
    color: #fff;
}
.footerColor {
    background-color: #ff6a1b;
    padding-top: 0 !important;
}
a.btnFooter {
    color: #ff6a1b;
}
.redirectCreateCat {
    margin-left: 250px;
    padding-top: 5px;
}
.redirectCreateBrand {
    margin-left: 275px;
    padding-top: 10px;
}
.selectForm {
    margin-right: 10px !important;
}
button.buttonSubmit {
    border: 1px solid #fff;
    color: #ff6a1b;
}
button.buttonSubmit:hover {
    border: 1px solid #ff6a1b;
    color: #fff;
}
legend.tittle {
    color: #fff;
    font-size: 35px;
    margin-top: 90px;
}
.buttonCreateCategory {
    margin-left: 13px;
    border: 1px solid #fff !important;
    color: #ff6a1b;
}
.buttonCreateCategory:hover {
    border: 1px solid #ff6a1b !important;
    color: #fff;
}
.designBntCreateCat {
    text-decoration: none;
    color: #ff6a1b;
}
.designBntCreateCat:hover {
    text-decoration: none;
    color: #fff;
}
.textPosition {
    font-size: 13px;
    position: relative;
    margin-left: 45px;
}
.textPosition1 {
    font-size: 13px;
    position: relative;
    margin-left: 44px;
}
button.btn.btn-sm.buttonCreateCategory {
    font-size: 10px;
}
legend.tittleLogin {
    padding-top: 65px;
    padding-bottom: 5px;
    font-size: 30px;
    color: #fff;
}
.userConnected {
    height: 24px;
    justify-content: space-around;
    margin-left: 23px;
    margin-top: 10px;
    position: absolute;
    left: 1114px;
}
.redirectionAccount {
    margin-left: 375px;
    padding-top: 20px;
    font-size: 13px;
}
button.buttonCreateAccount {
    border: 1px solid #fff;
    color: #ff6a1b;
    margin-left: 18px;
}
button.buttonCreateAccount:hover {
    border: 1px solid #ff6a1b;
    color: #fff;
}
.designButtonAccount {
    text-decoration: none;
    color: #ff6a1b;
    font-size: 12px;
}
.designButtonAccount:hover {
    text-decoration: none;
    color: #fff;
}
legend.tittleCAt {
    padding-top: 50px;
    font-size: 35px;
    color: #fff;
}
.flashCat {
    margin-top: 50px;
}
button.createCat {
    border: 1px solid #fff;
    color: #ff6a1b;
    margin-top: -170px;
    margin-left: 24px;
    border-radius: 11px;
    font-size: 14px;
}
button.createCat:hover {
    border: 1px solid #ff6a1b;
    color: #fff;
}
legend.tittleBrand {
    padding-top: 70px;
    font-size: 35px;
    color: #fff;
}
.resizeArticle {
    height: 378px;
}
.tittleAllCar {
    padding-top: 50px;
}
.titleName {
    margin-left: 10px;
    font-size: 15px;
    text-overflow: ellipsis;
    padding-top: 15px;
}
.titleCat {
    font-weight: 500;
    font-size: 14px;
    margin-top: 25px;
    padding-top: 10px;
    background: linear-gradient(to right, #000, #000);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}
.overflow-title {
    width: 300px;
    overflow-wrap: anywhere;
    text-align: justify;
    margin: 1px 10px 8px 3px;
    font-size: 17px;
    background: linear-gradient(to right, #000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
img.imageEffect:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}
img.imageEffect {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.object-fit-cover {
    object-fit: cover;
    width: 100%;
    height: 170px;
}
.PriceCar {
    color: #f35e0b;
    font-weight: 400;
}
button.buttonSubmitAllcar {
    border: 1px solid #fff;
    color: #ff6a1b;
    font-size: 15px;
    position: relative;
    top: 8px;
}
button.buttonSubmitAllcar:hover {
    border: 1px solid #ff6a1b;
    color: #fff;
}
#colorHeart {
    color: #000;
}
#colorHeart:visited {
    color: #f35e0b;
}
#colorHeart:hover {
    color: #f35e0b;
}
#colorHeart:active {
    color: #000;
}
.heart {
    position: relative;
    text-decoration: none;
    font-size: 17px;
    left: 10px;
}
.heart:hover {
    position: relative;
    text-decoration: none;
    font-size: 17px;
    color: #f35e0b;
}
.btnHeart:hover {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    position: relative;
    left: 20px;
}
.textLike {
    position: relative;
    left: 10px;
    font-size: 13px;
    margin-left: 5px;
    color: #f35e0b;
}
button.goBack {
    border: 1px solid #fff;
    color: #ff6a1b;
    margin-top: 90px;
    margin-left: 24px;
    border-radius: 19px;
    font-size: 14px;
}
button.goBack:hover {
    border: 1px solid #ff6a1b;
    color: #fff;
}
.rowForAll {
    padding-left: 100px;
}
.imgDetail {
    border: 1px solid #ff6a1b;
    margin-left: 83px;
    position: relative;
    top: -46px;
}
.titleDetail {
    padding-top: 40px;
}
.priceDetail {
    margin-left: 100px;
    font-size: 20px;
}
.allDetails {
    padding-top: 30px;
    font-size: 15px;
    position: relative;
    left: 35px;
    top: -15px;
}
.iconDetailCar {
    margin-right: 20px;
}
.callUs {
    position: relative;
    top: 100px;
}
.iconCallUs {
    position: relative;
    top: -117px;
    left: 370px;
    width: 50px;
    height: auto;
}
.textCall {
    position: relative;
    color: #fff;
    top: 190px;
    left: 100px;
    font-size: 14px;
}
.imgClickHere {
    width: 30px;
    height: auto;
    margin-left: -30px;
    transform: rotate(90deg);
    position: relative;
    top: 82px;
    left: 366px;
}
.titleSearch {
    padding-top: 50px;
}
.GoBackAllCars {
    margin-top: -100px;
    border: 1px solid #fff !important;
    color: #ff6a1b !important;
    margin-left: 15px;
    border-radius: 19px;
}
.GoBackAllCars:hover {
    border: 1px solid #ff6a1b !important;
    color: #fff !important;
}
.btnUpAndDel {
    margin-left: 83px;
    margin-top: -66px;
}
.btnUpdate {
    border: 1px solid #fff !important;
    color: #ff6a1b !important;
    margin-right: 10px;
    margin-top: 30px;
}
.btnUpdate:hover {
    border: 1px solid #ff6a1b !important;
    color: #fff !important;
}
.btnDelete {
    border: 1px solid #fff !important;
    color: #ff6a1b !important;
    margin-top: 30px;
}
.btnDelete:hover {
    border: 1px solid #ff6a1b !important;
    color: #fff !important;
}
.goBackDetails {
    position: relative;
    top: -50px;
    border: 1px solid #fff !important;
    color: #ff6a1b !important;
    border-radius: 19px !important;
    font-size: 14px !important;
}
.goBackDetails:hover {
    border: 1px solid #ff6a1b !important;
    color: #fff !important;
}
@media screen and (max-width: 1270px) {
    .object-fit-cover {
        object-fit: cover;
        width: 50%;
        height: 130px;
    }
    .resizeArticle {
        height: 338px;
    }
    .textPosition {
        font-size: 13px;
        position: relative;
        margin-left: -44px;
    }
    .textPosition1 {
        font-size: 13px;
        position: relative;
        margin-left: -46px;
    }
    button.btn.btn-sm.buttonCreateCategory {
        font-size: 10px;
    }
    label {
        font-size: 15px;
    }
    .textPosition {
        font-size: 13px;
        position: relative;
        margin-left: 45px;
    }
    .textPosition1 {
        font-size: 13px;
        position: relative;
        margin-left: 44px;
    }
    button.btn.btn-sm.buttonCreateCategory {
        font-size: 10px;
    }
    button#btnCarousel1 {
        position: absolute;
        top: 90px;
        left: 990px;
        border: 1px solid #fff;
        color: #ff6a1b;
        border-radius: 19px;
        width: 154px;
        font-size: 20px;
    }
    button#btnCarousel1:hover {
        border: 1px solid #ff6a1b;
        color: #fff;
    }
    .imgDetail {
        border: 1px solid #ff6a1b;
        margin-left: 83px;
        position: relative;
        top: -46px;
    }
    .userConnected {
        height: 24px;
        justify-content: space-around;
        margin-left: 23px;
        margin-top: 10px;
        position: absolute;
        left: 1068px;
    }

}
@media screen and (max-width: 1200px) {
    .textPosition {
        font-size: 13px;
        position: relative;
        margin-left: -42px;
    }
    .textPosition1 {
        font-size: 13px;
        position: relative;
        margin-left: -46px;
    }
    button.btn.btn-sm.buttonCreateCategory {
        font-size: 10px;
    }
    button#btnCarousel1 {
        position: absolute;
        top: 90px;
        left: 800px;
        border: 1px solid #fff;
        color: #ff6a1b;
        border-radius: 19px;
        width: 144px;
        font-size: 18px;
    }
    button#btnCarousel1:hover {
        border: 1px solid #ff6a1b;
        color: #fff;
    }
    .imgDetail {
        border: 1px solid #ff6a1b;
        margin-left: 83px;
        position: relative;
        top: -46px;
    }
    .userConnected {
        height: 24px;
        justify-content: space-around;
        margin-left: 23px;
        margin-top: 10px;
        position: absolute;
        left: 1048px;
    }
}
@media screen and (max-width: 1176px) {
    .userConnected {
        height: 24px;
        justify-content: space-around;
        margin-left: 23px;
        margin-top: 10px;
        position: absolute;
        left: 1000px;
    }
    .resizeArticle {
        height: 338px;
    }
}
@media screen and (max-width: 1115px) {
    .userConnected {
        height: 24px;
        justify-content: space-around;
        margin-left: 23px;
        margin-top: 10px;
        position: absolute;
        left: 900px;
    }
}
@media screen and (max-width: 1048px) {
    .PriceCar {
        color: #f35e0b;
        font-weight: 400;
        font-size: 14px;
    }
    .titleName {
        margin-left: 10px;
        font-size: 10px;
        text-overflow: ellipsis;
        padding-top: 15px;
    }
    .heart {
        position: relative;
        text-decoration: none;
        font-size: 15px;
        left: 10px;
    }
    .heart:hover {
        position: relative;
        text-decoration: none;
        font-size: 15px;
        left: 10px;
    }
    .textLike {
        position: relative;
        left: 10px;
        font-size: 12px;
        margin-left: 5px;
        color: #f35e0b;
    }
    .resizeArticle {
        height: 328px!important;
    }
}
@media screen and (max-width: 1027px) {
    .PriceCar {
        color: #f35e0b;
        font-weight: 400;
        font-size: 14px;
    }
    .callUs {
        position: relative;
        top: 100px;
    }
    .iconCallUs {
        position: relative;
        top: -117px;
        left: 370px;
        width: 50px;
        height: auto;
    }
    .textCall {
        position: relative;
        color: #fff;
        top: 190px;
        left: 100px;
        font-size: 14px;
    }
    .imgClickHere {
        width: 30px;
        height: auto;
        margin-left: -30px;
        transform: rotate(90deg);
        position: relative;
        top: 82px;
        left: 366px;
    }
    .btnUpAndDel {
        margin-left: 83px;
        margin-top: -66px;
    }
    .imgDetail {
        border: 1px solid #ff6a1b;
        margin-left: 83px;
        position: relative;
        top: -46px;
    }
    .userConnected {
        height: 24px;
        justify-content: space-around;
        margin-left: 23px;
        margin-top: 10px;
        position: absolute;
        left: 870px;
    }
}
@media screen and (max-width: 991px) {
    .formSearch {
        height: 20px;
        padding-bottom: 17px;
    }
    .material-icons {
        font-size: 10px;
    }
    .searchBox {
        position: absolute;
        margin-top: -47px;
        margin-left: 2px;
        transform: translate(0, 100%);
        background: #2f3640;
        height: 45px;
        border-radius: 50px;
        padding: 3px;
    }
    .searchBox:hover > .searchInput {
        width: 180px;
        padding: 0 6px;
    }
    .searchBox:hover > .searchButton {
        background: #fff;
        color: #2f3640;
    }
    .searchButton {
        color: #fff;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 60%;
        background: #2f3640;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        margin-top: -1px;
    }
    .searchInput {
        border: none;
        background: #2f3640;
        outline: 0;
        float: left;
        color: #fff;
        font-size: 12px;
        transition: 0.4s;
        line-height: 40px;
        width: 0;
        padding: 0;
    }
    input#formSearch.searchInput {
        background: #2f364000;
        border-color: #2f3640;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:active,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:hover {
        -webkit-box-shadow: 0 0 0 30px #2f3640 inset !important;
        -webkit-border-radius: inherit;
    }
    input:-webkit-autofill {
        -webkit-text-fill-color: #fff !important;
    }
    input.form-control:-webkit-autofill,
    input.form-control:-webkit-autofill:active,
    input.form-control:-webkit-autofill:focus,
    input.form-control:-webkit-autofill:hover {
        -webkit-box-shadow: 0 0 0 30px #fff inset !important;
        -webkit-border-radius: 5px;
    }
    .userConnected {
        height: 24px;
        justify-content: space-around;
        margin-left: 23px;
        margin-top: 10px;
        position: absolute;
        left: 1068px;
    }
    .allDetails {
        padding-top: 30px;
        font-size: 15px;
        position: relative;
        left: 90px;
        top: 20px;
    }
    .object-fit-cover {
        object-fit: cover;
        width: 50%;
        height: 130px;
    }
    label {
        font-size: 15px;
    }
    .textPosition {
        font-size: 10px;
        position: relative;
        margin-left: -129px;
    }
    .textPosition1 {
        font-size: 10px;
        position: relative;
        margin-left: -137px;
    }
    button.btn.btn-sm.buttonCreateCategory {
        font-size: 10px;
    }
    button#btnCarousel1 {
        position: absolute;
        top: 90px;
        left: 800px;
        border: 1px solid #fff;
        color: #ff6a1b;
        border-radius: 19px;
        width: 134px;
        font-size: 16px;
    }
    button#btnCarousel1:hover {
        border: 1px solid #ff6a1b;
        color: #fff;
    }
}
@media screen and (max-width: 975px) {
    .resizeArticle {
        height: 325px!important;
    }
    .callUs {
        position: relative;
        top: 100px;
    }
    .iconCallUs {
        position: relative;
        top: -117px;
        left: 370px;
        width: 50px;
        height: auto;
    }
    .textCall {
        position: relative;
        color: #fff;
        top: 190px;
        left: 100px;
        font-size: 14px;
    }
    .imgClickHere {
        width: 30px;
        height: auto;
        margin-left: -30px;
        transform: rotate(90deg);
        position: relative;
        top: 82px;
        left: 366px;
    }
    .btnUpAndDel {
        margin-left: 83px;
        margin-top: -66px;
    }
    .allDetails {
        padding-top: 30px;
        font-size: 13px;
        position: relative;
        left: 71px;
        top: 8px;
    }
    .imgDetail {
        border: 1px solid #ff6a1b;
        margin-left: 75px;
        left: 6px;
        position: relative;
        top: -46px;
    }
    .titleCat {
        font-weight: 500;
        font-size: 11px;
        margin-top: 25px;
        padding-top: 10px;
        background: linear-gradient(to right, #000, #000);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 10px;
    }
}
@media screen and (max-width: 955px) {
    .resizeArticle {
        height: 287px !important;
    }
    .tittleAllCar {
        padding-top: 50px;
    }
    .titleName {
        margin-left: 10px;
        font-size: 10px;
        text-overflow: ellipsis;
        padding-top: 15px;
    }
    .titleCat {
        font-weight: 500;
        font-size: 10px;
        margin-top: 25px;
        padding-top: 10px;
        background: linear-gradient(to right, #000, #000);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 10px;
    }
    .overflow-title {
        width: 300px;
        overflow-wrap: anywhere;
        text-align: justify;
        margin: 1px 10px 8px 3px;
        font-size: 17px;
        background: linear-gradient(to right, #000, #000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    img.imageEffect:hover {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        transform: scale(1.15);
    }
    img.imageEffect {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .object-fit-cover {
        object-fit: cover;
        width: 100%;
        height: 170px;
    }
    .PriceCar {
        color: #f35e0b;
        font-weight: 400;
        font-size: 13px;
    }
    button.buttonSubmitAllcar {
        border: 1px solid #fff;
        color: #ff6a1b;
        font-size: 12px;
        position: relative;
        top: 7px;
    }
    button.buttonSubmitAllcar:hover {
        border: 1px solid #ff6a1b;
        color: #fff;
    }
    .object-fit-cover {
        object-fit: cover;
        width: 50%;
        height: 100px;
    }
    label {
        font-size: 15px;
    }
    .textPosition {
        font-size: 10px;
        position: relative;
        margin-left: -129px;
    }
    .textPosition1 {
        font-size: 10px;
        position: relative;
        margin-left: -137px;
    }
    button.btn.btn-sm.buttonCreateCategory {
        font-size: 10px;
    }
    button.createCat {
        border: 1px solid #fff;
        color: #ff6a1b;
        margin-top: -170px;
        margin-left: 24px;
        border-radius: 11px;
        font-size: 14px;
    }
    legend.tittleCAt {
        padding-top: 19px;
        font-size: 29px;
        color: #fff;
    }
    button.buttonSubmit {
        border: 1px solid #fff;
        color: #ff6a1b;
        font-size: 15px;
    }
    button#btnCarousel1 {
        position: absolute;
        top: 90px;
        left: 740px;
        border: 1px solid #fff;
        color: #ff6a1b;
        border-radius: 19px;
        width: 124px;
        font-size: 14px;
    }
    button#btnCarousel1:hover {
        border: 1px solid #ff6a1b;
        color: #fff;
    }
    .callUs {
        position: relative;
        top: 100px;
    }
    .iconCallUs {
        position: relative;
        top: -117px;
        left: 370px;
        width: 50px;
        height: auto;
    }
    .textCall {
        position: relative;
        color: #fff;
        top: 190px;
        left: 100px;
        font-size: 14px;
    }
    .imgClickHere {
        width: 30px;
        height: auto;
        margin-left: -30px;
        transform: rotate(90deg);
        position: relative;
        top: 82px;
        left: 366px;
    }
    .btnUpAndDel {
        margin-left: 120px;
        margin-top: -44px;
    }
    .allDetails {
        padding-top: 30px;
        font-size: 13px;
        position: relative;
        left: 71px;
        top: 8px;
    }
    .imgDetail {
        border: 1px solid #ff6a1b;
        margin-left: 75px;
        left: 6px;
        position: relative;
        top: -46px;
    }
    .btnUpAndDel {
        margin-left: 83px;
        margin-top: -66px;
    }
}
@media screen and (max-width: 914px) {
    .allDetails {
        padding-top: 30px;
        font-size: 12px;
        position: relative;
        left: 80px;
        top: 20px;
    }
    .priceDetail {
        margin-left: 100px;
        font-size: 16px;
    }
    button.goBack {
        border: 1px solid #fff;
        color: #ff6a1b;
        margin-top: 90px;
        margin-left: 24px;
        font-size: 12px;
        border-radius: 19px;
        font-size: 14px;
    }
    .titleDetail {
        padding-top: 43px;
        font-size: 25px !important;
    }
    label {
        font-size: 15px;
    }
    .textPosition {
        font-size: 10px;
        position: relative;
        margin-left: -129px;
    }
    .textPosition1 {
        font-size: 10px;
        position: relative;
        margin-left: -137px;
    }
    button.btn.btn-sm.buttonCreateCategory {
        font-size: 10px;
    }
    .sizeOption {
        font-size: 10px !important;
    }
    ::placeholder {
        font-size: 10px;
    }
    input[type="file" i] {
        font-size: 10px;
        padding: 11px;
    }
    legend.tittle {
        color: #fff;
        font-size: 31px;
        margin-top: 70px;
    }
    button.btn.btn-sm.btnBrand.buttonCreateCategory {
        border: 1px solid #fff;
        color: #ff6a1b;
        font-size: 10px;
    }
    p.text-muted.brand.textPosition {
        font-size: 10px;
        position: relative;
        margin-left: -137px;
    }
    button.buttonSubmit {
        border: 1px solid #fff;
        color: #ff6a1b;
        font-size: 16px;
    }
    input[type="number" i] {
        font-size: 10px;
        height: 38px;
    }
    button.createCat {
        border: 1px solid #fff;
        color: #ff6a1b;
        margin-top: -170px;
        margin-left: 24px;
        border-radius: 11px;
        font-size: 14px;
    }
    legend.tittleBrand {
        padding-top: 70px;
        font-size: 29px;
        color: #fff;
    }
    button#btnCarousel1 {
        position: absolute;
        top: 72px;
        left: 575px;
        border: 1px solid #fff;
        color: #ff6a1b;
        border-radius: 19px;
        width: 114px;
        font-size: 12px;
    }
    button#btnCarousel1:hover {
        border: 1px solid #ff6a1b;
        color: #fff;
    }
    .imgDetail {
        border: 1px solid #ff6a1b;
        margin-left: 102px;
        left: -2px;
        position: relative;
        top: -65px;
    }
    .imgClickHere {
        width: 30px;
        height: auto;
        margin-left: -39px;
        transform: rotate(90deg);
        position: relative;
        top: 46px;
        left: 362px;
    }
    .textCall {
        position: relative;
        color: #fff;
        top: 157px;
        left: 118px;
        font-size: 12px;
    }
    .iconCallUs {
        position: relative;
        top: -49px;
        left: 355px;
        width: 38px;
        height: auto;
    }
    .btnUpAndDel {
        margin-left: 83px;
        margin-top: -66px;
    }
    .rowForAll {
        padding-left: 47px;
    }
    .goBackDetails {
        position: relative;
        top: -50px;
        border: 1px solid #fff !important;
        color: #ff6a1b !important;
        border-radius: 19px !important;
        font-size: 14px !important;
    }
    .callUs {
        position: relative;
        top: 100px;
    }
    .iconCallUs {
        position: relative;
        top: -117px;
        left: 370px;
        width: 50px;
        height: auto;
    }
    .textCall {
        position: relative;
        color: #fff;
        top: 190px;
        left: 100px;
        font-size: 14px;
    }
    .imgClickHere {
        width: 30px;
        height: auto;
        margin-left: -30px;
        transform: rotate(90deg);
        position: relative;
        top: 82px;
        left: 366px;
    }
    .allDetails {
        padding-top: 30px;
        font-size: 13px;
        position: relative;
        left: 71px;
        top: 8px;
    }
    .imgDetail {
        border: 1px solid #ff6a1b;
        margin-left: 75px;
        left: 6px;
        position: relative;
        top: -46px;
    }
}
@media screen and (max-width: 856px) {
    .heart {
        position: relative;
        text-decoration: none;
        font-size: 15px;
        left: 0;
    }
    .heart:hover {
        position: relative;
        text-decoration: none;
        font-size: 15px;
        left: 0;
    }
    .btnHeart:hover {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        position: relative;
        left: 0;
    }
    .textLike {
        position: relative;
        left: -4px;
        font-size: 12px;
        margin-left: 2px;
        color: #f35e0b;
    }
    .allDetails {
        padding-top: 30px;
        font-size: 11px;
        position: relative;
        left: 66px;
        top: 20px;
    }
    .callUs {
        position: relative;
        top: 100px;
    }
    .iconCallUs {
        position: relative;
        top: -148px;
        left: 361px;
        width: 50px;
        height: auto;
    }
    .textCall {
        position: relative;
        color: #fff;
        top: 190px;
        left: 100px;
        font-size: 14px;
    }
    .imgClickHere {
        width: 30px;
        height: auto;
        margin-left: -30px;
        transform: rotate(90deg);
        position: relative;
        top: 148px;
        left: 366px;
    }
    .btnUpAndDel {
        margin-left: 83px;
        margin-top: -92px;
    }
    .allDetails {
        padding-top: 30px;
        font-size: 13px;
        position: relative;
        left: 71px;
        top: 8px;
    }
    .imgDetail {
        border: 1px solid #ff6a1b;
        margin-left: 92px;
        left: 6px;
        position: relative;
        top: -76px;
    }
}
@media screen and (max-width: 816px) {
    .titleName {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-overflow: ellipsis;
        padding-top: 6px;
    }
    .textLike {
        display: none;
        position: relative;
        left: -2px;
        font-size: 12px;
        margin-left: 2px;
        color: #f35e0b;
        top: -7px;
    }
    .heart {
        display: none;
    }
    .btnHeart {
        display: none;
    }
    .resizeArticle {
        height: 250px !important;
    }
}
@media screen and (max-width: 767px) {
    .heart {
        display: initial;
        position: relative;
        text-decoration: none;
        font-size: 15px;
        left: 0;
    }
    .heart:hover {
        display: initial;
        position: relative;
        text-decoration: none;
        font-size: 15px;
        left: 0;
    }
    .btnHeart {
        display: initial;
        position: relative;
        left: 12px;
        width: 26px;
        top: -6px;
    }
    .btnHeart:hover {
        display: initial;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        position: relative;
        left: 13px;
        width: 26px;
        top: -6px;
    }
    .textLike {
        display: initial;
        position: relative;
        left: 22px;
        font-size: 12px;
        margin-left: -2px;
        color: #f35e0b;
    }
    .allDetails {
        font-size: 12px;
        position: relative;
        left: 130px;
        top: -40px;
    }
    .priceDetail {
        margin-left: 95px;
        font-size: 14px;
        padding-bottom: 27px;
    }
    .titleDetail {
        position: relative;
        font-size: 25px !important;
        top: -118px;
        padding-bottom: 10px;
        margin: auto;
    }
    .rowForAll {
        margin: auto;
        top: -87px;
        position: relative;
    }
    .btnUpAndDel {
        margin-left: 77px;
        margin-top: -32px;
    }
    .textCall {
        position: relative;
        color: #fff;
        top: 165px;
        left: 93px;
        font-size: 12px;
    }
    .iconCallUs {
        position: relative;
        top: -144px;
        left: 331px;
        width: 38px;
        height: auto;
    }
    .imgClickHere {
        width: 30px;
        height: auto;
        margin-left: -39px;
        transform: rotate(90deg);
        position: relative;
        top: 53px;
        left: 337px;
    }
    .imgDetail {
        border: 1px solid #ff6a1b;
        margin-left: 92px;
        left: -7px;
        position: relative;
        top: -76px;
    }
    .btnUpAndDel {
        margin-left: 94px;
        margin-top: -95px;
        margin-bottom: -25px;
    }
    .resizeArticle {
        height: 332px !important;
        width: 279px;
        margin: auto;
    }
    .tittleAllCar {
        padding-top: 50px;
    }
    .titleName {
        margin-left: 10px;
        font-size: 10px;
        text-overflow: ellipsis;
        padding-top: 15px;
    }
    .titleCat {
        font-weight: 500;
        font-size: 10px;
        margin-top: 25px;
        padding-top: 10px;
        background: linear-gradient(to right, #000, #000);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 10px;
    }
    .overflow-title {
        width: 300px;
        overflow-wrap: anywhere;
        text-align: justify;
        margin: 1px 10px 8px 3px;
        font-size: 17px;
        background: linear-gradient(to right, #000, #000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    img.imageEffect:hover {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        transform: scale(1.15);
    }
    img.imageEffect {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .object-fit-cover {
        object-fit: cover;
        width: 50%;
        height: 145px;
    }
    .PriceCar {
        color: #f35e0b;
        font-weight: 400;
    }
    button.buttonSubmitAllcar {
        border: 1px solid #fff;
        color: #ff6a1b;
        font-size: 12px;
        position: relative;
        top: 7px;
    }
    button.buttonSubmitAllcar:hover {
        border: 1px solid #ff6a1b;
        color: #fff;
    }
    .rowBottomSearch {
        padding-bottom: 120px;
        margin-top: 29px !important;
        width: 300px;
    }
    label {
        font-size: 9px;
    }
    .textPosition {
        font-size: 10px;
        position: relative;
        margin-left: -220px;
    }
    .textPosition1 {
        font-size: 10px;
        position: relative;
        margin-left: -227px;
    }
    button.btn.btn-sm.buttonCreateCategory {
        font-size: 10px;
    }
    button.createCat {
        border: 1px solid #fff;
        color: #ff6a1b;
        margin-top: -170px;
        margin-left: 24px;
        border-radius: 11px;
        font-size: 14px;
    }
    button.buttonSubmit {
        border: 1px solid #fff;
        color: #ff6a1b;
        font-size: 10px;
    }
    legend.tittle {
        color: #fff;
        font-size: 24px;
        margin-top: 70px;
    }
    ::placeholder {
        font-size: 10px;
    }
    input[type="file" i] {
        font-size: 10px;
        padding: 11px;
    }
    button.createCat {
        border: 1px solid #fff;
        color: #ff6a1b;
        margin-top: -170px;
        margin-left: 24px;
        border-radius: 11px;
        font-size: 14px;
    }
    button#btnCarousel1 {
        position: absolute;
        top: 70px;
        left: 480px;
        border: 1px solid #fff;
        color: #ff6a1b;
        border-radius: 19px;
        width: 104px;
        font-size: 10px;
    }
    button#btnCarousel1:hover {
        border: 1px solid #ff6a1b;
        color: #fff;
    }
}
@media screen and (max-width: 576px) {
    input#name.nameCar {
        width: 100%;
        display: flex;
        margin-left: 0;
    }
    .textPosition {
        font-size: 10px;
        position: relative;
        margin-left: -2px;
    }
    .textPosition1 {
        font-size: 10px;
        position: relative;
        margin-left: -9px;
    }
    button.buttonSubmit.btnCar {
        border: 1px solid #fff;
        color: #ff6a1b;
        font-size: 10px;
        margin: auto;
        width: 100%;
        margin-top: 15px !important;
    }
    .resizeArticle {
        height: 332px !important;
        width: 279px;
        margin: auto;
    }
    button.buttonSubmitAllcar {
        border: 1px solid #fff;
        color: #ff6a1b;
        font-size: 12px;
        display: flex;
        width: 279px;
        padding-left: 112px;
    }
    button.btn.btn-dark.btn-lg.col-sm-12.mr-2.ml-2.mt-1.buttonSubmitAllcar.queryButton {
        border: 1px solid #fff;
        color: #ff6a1b;
        font-size: 12px;
        display: flex;
        width: 276px;
        padding-left: 112px;
        top: 0;
    }
    .object-fit-cover {
        object-fit: cover;
        width: 50%;
        height: 145px;
    }
    button.buttonSubmit.btnCat {
        border: 1px solid #fff;
        color: #ff6a1b;
        font-size: 10px;
        margin: auto;
        width: 101%;
        margin-top: 28px !important;
        margin-left: 0;
    }
    legend.tittleCAt {
        padding-top: 19px;
        font-size: 25px;
        color: #fff;
        margin-left: 57px;
    }
    textarea#DescriptionCat {
        display: flex;
        width: 96%;
        margin-left: 10px;
    }
    input#name {
        display: flex;
        width: 96%;
        margin-left: 10px;
    }
    legend.tittleBrand {
        padding-top: 35px;
        font-size: 24px;
        color: #fff;
    }
    input#Manufacturing {
        margin-bottom: -20px;
    }
    textarea#exampleFormControlTextarea1 {
        margin-bottom: -26px;
    }
    button.buttonSubmit {
        border: 1px solid #fff;
        color: #ff6a1b;
        font-size: 10px;
        margin: auto;
        width: 100%;
        margin-top: -20px !important;
    }
    button#btnCarousel1 {
        position: absolute;
        top: 50px;
        left: 340px;
        border: 1px solid #fff;
        color: #ff6a1b;
        border-radius: 19px;
        width: 94px;
        font-size: 10px;
    }
    button#btnCarousel1:hover {
        border: 1px solid #ff6a1b;
        color: #fff;
    }
}
